[run]
omit =
    metbit/viz/boxplot.py
    metbit/apps/*
    metbit/_internal/report.py
    metbit/lazy_opls_da.py

[report]
omit =
    metbit/viz/boxplot.py
    metbit/apps/*
    metbit/_internal/report.py
    metbit/lazy_opls_da.py
