
metbit/__pycache__/__init__.cpython-311.pyc
metbit/__pycache__/base.cpython-311.pyc
metbit/__pycache__/cross_validation.cpython-311.pyc
metbit/__pycache__/metbit.cpython-311.pyc
metbit/__pycache__/opls.cpython-311.pyc
metbit/__pycache__/pca_ellipse.cpython-311.pyc
metbit/__pycache__/pls.cpython-311.pyc
metbit/__pycache__/pretreatment.cpython-311.pyc

.codegpt
.DS_Store
